// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-size: .875rem;
	color: #333333;
}

.card-hotel-image > img {
	width: 275px;
	height: 175px;
}

.card-hotel-name {
	font-size: 1rem;
	font-weight: 600;
}

.card-hotel-address > i, .card-hotel-rating > i, .card-hotel-price > i {
	width: 20px;
}

.card-hotel:hover {
	cursor: pointer;
}

/*
#dataTable > tbody > tr:hover {
	cursor: pointer;
}*/